.submit-btn {
    width: 120px;
    height: 30px;
    border-radius: 25px;
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    transition: all .2s ;

    &:hover {
        color: white;
        background: black;
    }
}