body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

ul {
    padding: 0;
}

.active {
    display: none !important;
}

.succes {
    color: green;
}

.error {
    color: red;
}

p {
    margin: 0;
}

.fa-eye {
    margin-top: 20px;
    color: black;
    cursor: pointer;
}